# Azure
AZURE_SUBSCRIPTION_ID=TODO
AZURE_RESOURCE_GROUP=TODO
AZURE_WORKSPACE_NAME=TODO

# Dataset
DATASET_NAME=credit-card
DATASET_VERSION=v1
DATA_URL=https://azuremlexamples.blob.core.windows.net/datasets/credit_card/default_of_credit_card_clients.csv

# Pipeline credit_card_model_train
TEST_TRAIN_RATIO=0.25
LEARNING_RATE=0.05
REGISTERED_MODEL_NAME=credit_defaults_model

# Environment
ENV_NAME=aml-scikit-learn
ENV_VERSION=0.3.0
ENV_IMAGE=mcr.microsoft.com/azureml/openmpi4.1.0-ubuntu22.04:latest
